src/test/resources/shipexternal.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sub:xs:1" >
    <xs:complexType name="ExternalType">
        <xs:sequence>
            <xs:element minOccurs="0" name="element1" type="xs:string"/>
            <xs:element minOccurs="0" name="element2" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
